@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HERO SECTION */
#hp-herosection{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(23, 25, 32, 1) 100%),
                url("../images/example.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.herosection-elements{
    margin: 5%;
}

#hp-herosection .btn-group{
    margin-block: .2rem;
}

#hp-herosection .subtitle{
    background-color: var(--black-50);
    padding: 2px 10px;
}
#hp-herosection .title{
    padding: 2px 10px;
}

#hp-herosection .subtitle , .title{
    margin-block: 5px;
}

/* TRENDING LIST */


/* RESPONSIVE */
@media (max-width: 900px) {
    #hp-herosection{
        height: 40vh;
    }
}

@media (max-width: 720px) {
    #hp-herosection{
        height: 30vh;
    }
}

/* RESPONSIVE PHONE*/
@media (max-width: 500px) {
    #hp-herosection{
        height: 20vh;
    }
}