*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #171920;
    --purple: #9259E9;
    --white: #FFFFFF;
}

body{
    background-color: var(--black);
    color: var(--white);
}

header{
    display: flex;
}