@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #171920;
    --black-50: #17192097;
    --purple: #9259E9;
    --purple-50: #9359e96d;
    --white: #FFFFFF;
}

body{
    font-family: 'Nunito';
    background-color: var(--black);
    color: var(--white);
}

a{
    text-decoration: none;
}
/* NAV BAR */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /*every child element will clip mask to this*/
    /**background-color: beige;**/
}
header a{
    color: var(--white);
}

nav, nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav a, header h2{

    padding: .6rem .7rem;
    border: none;
}

nav a:hover{ /*purple bar below*/
    border-bottom: 6px solid var(--purple);
}

/* LOGO */
.nav_logo{
    color: var(--purple);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav_logo:hover{
    color: var(--white);
}

.menu{
    display: flex;
    align-items: center;
}

#ham_menu{
    display: none;
    cursor: pointer;
}

/* SEARCH BAR */
.search_bar input, .search_bar button{
    border: none;
    padding: .3rem;
    border-radius: 10px;
}

.search_bar input{
    width: 28vw;
}

.search_bar button{
    background: none;
    color: var(--white);
}

.search_bar button:hover{
    color: var(--purple);
}

/* CTA BUTTON */
.cta{
    background-color: var(--purple);
    padding-block: 100px;
}

.cta:hover{
    color: var(--black);
}

/* REUSABLE STYLED BTN */
.primary-btn, .secondary-btn, .icon-btn{
    border: 2px solid var(--purple);
    background-color: var(--purple);
    text-transform: uppercase;
    color: var(--white);
    padding: .5rem .8rem;
    border-radius: 8px;
    font-size: 20px;
}

.secondary-btn, .icon-btn{
    background-color: var(--black-50);
}


/* HOVER EFFECT */
.primary-btn:hover, .secondary-btn:hover, .icon-btn:hover{
    opacity: 0.6;
}

/* TEXT ELEMENTS */
.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 20px;
    font-weight: 800;
    color: var(--purple);
}





/* RESPONSIVE */
@media (max-width: 720px) {
    /* NAVBAR */
    header{
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #ham_menu{
        display: block;
        margin-inline: 1rem;
    }
    nav ul{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        overflow: hidden; 
        padding-block: 10px;
    }
    nav li{
        text-align: center;
    }
    .search_bar input{ 
        width: 45vw;
    }
    /* BTN AND TEXT */
    .primary-btn, .secondary-btn, .icon-btn{
        font-size: .7rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .subtitle{
        font-size: .8rem;
    }
}

/* RESPONSIVE PHONE*/
@media (max-width: 430px) {
    /* NAVBAR */
    header{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    #ham_menu{
        display: block;
        position: absolute;
        right: .7rem;
        top: 15px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav li{
        overflow: hidden; 
        padding-block: .5rem;
        text-align: center;
        width: 100%;
    }
    nav .cta {
        display: block;
        padding-block: .5rem;
    }
    .search_bar input{
        width: 70vw;
        margin-bottom: 10px;
    }
}